
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Inter;
      }
      
      #container {
        height: 100dvh;
        /* background-color: red; */
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        gap: 8px;
        /* container children */
        #search {
          flex: 1;
          /* height: 60px; */
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          /* background-color: aqua; */
          padding: 5px 30px;
          gap: 10px;
          color: white;

        }
      
          
          
          .mktCapSort {
            height: 40px;
            min-width: 50px;
            display: grid;
            place-items: center;
            flex: 2;
          }
          .percentSort {
            min-width: 50px;
            /* padding: 1.5em; */
            height: 30px;
            flex: 2;
          }
          #search,
          .mktCapSort,
         .percentSor
          {
            color: white;
            font-size: 16px;
            background-color: #09090a;
            border: 1px solid whitesmoke;
          }
          button {
            cursor: pointer;
          }
          button:hover {
            background-color: #0e0b0b;
          }
          button:active {
            background-color: #1a1a1c;
            transform: scale(0.9);
          }
        }
      
      
      #data-container {
        flex: 10;
        /* background-color: orange; */
        padding: 20px;
        color: white;
        font-size: 14px;
        background-color: #1a1a1c;
        /* data container children */
        table {
          width: 100%;
          height: 100%;
          /* background-color: orchid; */
      
          tbody {
            /* background-color: orangered; */
            display: flex;
            flex-direction: column;
            gap: 5px;
            overflow-y: scroll;
            tr {
              display: flex;
              justify-content: center;
              align-items: center;
              /* background-color: aquamarine; */
              padding: 20px 5px;
              border-bottom: 1px solid white;
              gap: 20px;
      
              td {
                flex: 1;
                justify-self: center;
              }
              td:nth-child(1) {
                display: flex;
                gap: 10px;
                justify-content: flex-start;
                align-items: center;
                /* background-color: red; */
      
                img {
                  height: 20px;
                }
              }
              .td-green {
                color: rgb(0, 255, 0);
              }
      
              .text-right {
                text-align: right;
              }
              .text-center {
                text-align: center;
              }
      
              .td-red {
                color: red;
              }
            }
      
            .row:last-child {
              /* background-color: red; */
              border: none;
            }
          }
          tbody::-webkit-scrollbar {
            display: none;
          }
        }
      }
      
      @media only screen and (max-width: 600px) {
        #container {
          width: 100dvw;
          height: 100dvh;
          /* background-color: red; */
          padding: 1em 0.2em;
          display: flex;
          flex-direction: column;
          gap: 8px;
          /* container children */
        }
      
        #data-container {
          width: 100%;
        }
      
        #data-container {
          flex: 10;
          /* background-color: orange; */
          padding: 2px;
          color: white;
          font-size: 12px;
          background-color: #1a1a1c;
          /* data container children */
          table {
            text-align: left;
            tbody {
              tr {
                display: flex;
                justify-content: center;
                align-items: center;
                /* background-color: aquamarine; */
                /* padding: 20px 5px; */
                border-bottom: 1px solid white;
                gap: 5px;
      
                td:nth-child(1) {
                  gap: 2px;
      
                  img {
                    height: 14px;
                  }
                }
              }
            }
          }
        }
      }
      
